{% extends 'main.html.twig' %}

{% block title %}Ajouter
{% endblock %}

{% block toolbar %}
	<a href="/ordinateurs">
		&larr;
	</a>
{% endblock %}

{% block body %}
	<div class="w-4/5 m-auto text-center">
		<h1 class="text-5xl pt-12 pb-8">
			Ajouter un Ordinateur
		</h1>
		<hr/>
		{{ include('ordinateurs/_form.html.twig') }}
	</div>
{% endblock %}
