{% extends 'main.html.twig' %}

{% block title %}Ajouter
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('formulaire-css') }}
{% endblock %}

{% block toolbar %}
	<a href="{{ path("view_cellulaires") }}">
		&larr;
	</a>
{% endblock %}

{% block body %}
	<main class="w-4/5 m-auto text-center">
		<h1 class="text-5xl pt-12 pb-8">
			Ajouter un cellulaire
		</h1>
		<hr/>
		{{ include('cellulaires/_form.html.twig') }}
	</main>
{% endblock %}
