{% extends 'main.html.twig' %}

{% block title %}Ajouter
{% endblock %}

{% block toolbar %}
	<a href="{{ path("view_peripheriques") }}">
		&larr;
	</a>
{% endblock %}

{% block body %}
	<main class="w-4/5 m-auto text-center">
		<h1 class="text-5xl pt-12 pb-8">
			Ajouter un peripherique
		</h1>
		<hr/>
		{{ include('peripheriques/_form.html.twig') }}
	</main>
{% endblock %}
