{# templates/home.html.twig #}
{% extends 'main.html.twig' %}

{% block title %}GestionOrdinateurs
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('affectation-css') }}
{% endblock %}

{% block toolbar %}
	<a href="{{ path("view_cellulaires") }}">
		&larr;
	</a>    
    <a href="">
        Affecter
    </a>
{% endblock %}

{% block body %}
    <acticle>
        <h1>Affectation</h1>
        <form autocomplete="off" action="/action_page.php">
            <div class="autocomplete" style="width:300px;">
                <input id="myInput" type="text" name="myCountry" placeholder="Country">
            </div>
            <input type="submit">
        </form>
        <title>Glisser-Déposer avec Colonnes</title>
        <div id="DragAndDrop" />
    </article>
{% endblock %}

{% block javascripts %}
	<script>
        var etat = [["Objet 1","Objet 2","Objet 3"], [], [], [],]
        var element;
        var newElement;

        var root = document.getElementById("DragAndDrop"); 

        var colonne;

        for(let iColonne=0; iColonne < etat.length; iColonne++) {
            colonne = root.appendChild(document.createElement("div"));
            colonne.setAttribute("class", "colonne");
            colonne.setAttribute("ondrop", "drop(event)");
            colonne.setAttribute("ondragover", "allowDrop(event)");
            var header = colonne.appendChild(document.createElement("header"))
            header.innerText = "Colonne "+ iColonne;
            for(let iLigne=0; iLigne < etat[iColonne].length; iLigne++) {
                var ligne = colonne.appendChild(document.createElement("div"));
                var id = PiocherIdAleatoire();
                ligne.setAttribute("id", id);
                ligne.setAttribute("class", "draggable-item");
                ligne.setAttribute("draggable", true);
                ligne.setAttribute("ondragstart", "drag(event)");
                ligne.innerText = etat[iColonne][iLigne];
            }
        }
        
        function allowDrop(event) {
            event.preventDefault();
        }
    
        function drag(event) {
            event.dataTransfer.setData("text", event.target.innerText);
            element = document.getElementById(event.target.id);
            newElement = element.cloneNode(true);

        }
    
        function drop(event) {
            event.preventDefault();
            var data = element.cloneNode(true);
            event.target.appendChild(data);
        }

        function PiocherIdAleatoire() { 
            return "DraggableItem"+Math.floor(Math.random()*100000000);
        }
    </script>
{% endblock %}