@tailwind base;
@tailwind components;
@tailwind utilities;

.colonne {
	float: left;
	width: 30%;
	padding: 10px;
	height: 300px;
	overflow: auto;
	border: 1px solid #ccc;
	margin: 10px;
}

.colonne header {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.draggable-item {
	background-color: #f9f9f9;
	padding: 10px;
	margin: 5px 0;
	cursor: move;
}
