@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	color: #004f9c;
}
label {
	display: block;
}
.row {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
}
.col {
	display: flex;
	flex-flow: column wrap;
	padding: 4px 12px;
	width: auto;
}
.textarea {
	width: 100%;
}
