@tailwind base;
@tailwind components;
@tailwind utilities;

h3 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

section {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	background-color: #222;
	padding: 4px 16px;
}

section > a:hover {
	color: #f07d00;
}

article {
	background-color: #004f9c;
	padding: 8px 16px 24px 16px;
}

article.isDisponible {
	background: #64b85f;
}

article.isAffected {
	background: #d44646;
}

ul.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
	overflow-y: scroll;
	height: 750px;
}

ul.container > li.item {
	height: fit-content;
	width: 315px;
	padding: 8px;
}
