@tailwind base;
@tailwind components;
@tailwind utilities;

h3 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

section {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	background-color: #111;
	padding: 4px 8px;
}

section > a {
	color: #aaa;
}

section > a:hover {
	color: #fff;
}

article {
	padding: 4px 8px 12px 8px;
}

article.disponible {
	background: #64b85f;
}

article.notDisponible {
	background: #be3f3f;
}

ul.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
	overflow-y: scroll;
	height: 700px;
}

ul.container > li.item {
	height: fit-content;
	width: 250px;
	padding: 8px;
}
