@tailwind base;
@tailwind components;
@tailwind utilities;

p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul.container > li.item > section {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	/* background-color: #111; */
}

ul.container > li.item > section > a:hover {
	color: #f07d00;
}

ul.container > li.isDisponible {
	background: #64b85f;
}

/* ul.container > li.isDisponible:hover {
	background: #4b9e46;
} */

ul.container > li.isAffected {
	background: #d44646;
}
/* 
ul.container > li.isAffected:hover {
	background: #bc2c2c;
} */

ul.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
	align-items: center;
	overflow-y: scroll;
	width: fit-content;
	height: 900px;
}

ul > li.item {
	border: 1px solid #000;
	padding: 12px 24px;
	margin: 12px;
	width: 315px;
	height: 200px;
	background: #bbb;
}

ul > li.item > ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: stretch;
}

ul > li.button-ajouter > a {
	background-color: #777;
	font-weight: bolder;
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 24px;
	margin: 12px;
	width: 315px;
	height: 200px;
}

ul > li.button-ajouter > a:hover {
	color: #ddd;
	background-color: #004f9c;
}

ul.sub-container > li {
	padding: 0px 12px;
	font-weight: bold;
}
