<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a href="#" class="accordion">Gestion</a>
			<div class="panel">
				<a href="#" class="item">Cellulaires</a>
				<a href="#" class="item">Ordinateurs</a>
				<a href="#" class="item">Peripheriques</a>
			</div>
			<a href="#" class="accordion">Affectation</a>
			<div class="panel">
				<a href="#" class="item">Cellulaires</a>
				<a href="#" class="item">Ordinateurs</a>
				<a href="#" class="item">Peripheriques</a>
			</div>
			<a href="#" class="accordion">Historique</a>
			<div class="panel">
				<a href="#" class="item">Affectations</a>
				<a href="#" class="item">Appariels</a>
				<a href="#" class="item">Utilisateurs</a>
				<a href="#" class="item">Cellulaires</a>
				<a href="#" class="item">Ordinateurs</a>
				<a href="#" class="item">Peripheriques</a>
			</div>
			<a href="#" class="accordion">Contact</a>
			<div class="panel"></div>
			<a href="/{{app.user ? 'logout' : 'login'}}" class="accordion">{{app.user ? 'Déconnexion' : 'Connexion'}}</a>
		</div>

		<div id="main">
			<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
			{% block body %}{% endblock %}
		</div>
		<script>
			function openNav() {
document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
document.getElementById("mySidenav").style.width = "0";
}

var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i = i + 1) {
acc[i].addEventListener("click", function () {
this.classList.toggle("active");
var panel = this.nextElementSibling;
if (panel.style.display === "block") {
panel.style.display = "none";
}
else {
panel.style.display = "block";
}
});
}
		</script>
	</body>
</html>
