{% extends 'gestion.html.twig' %}

{% block title %}Hello GestionController!
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>
					<a href="{{ 'C:/Users/bbekoy/Documents/_Projects/_Web/_Symfony/Outils-Info-Rebirth/src/Controller/GestionController.php'|file_link(0) }}">src/Controller/GestionController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="{{ 'C:/Users/bbekoy/Documents/_Projects/_Web/_Symfony/Outils-Info-Rebirth/templates/main/gestion.html.twig'|file_link(0) }}">templates/main/gestion.html.twig</a>
				</code>
			</li>
		</ul>
	</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app-js') }}
{% endblock %}
